@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    margin: 0;
}

p,b, span, th {
    font-family: 'Oswald', 'Verdana';
    color: white;
}

b {
    font-size: 5vw;
}

.vertical-divider {
    width: 2px;
    background-color: black;
}

.horizontal-divider {
    width: 80%;
    margin-bottom: 2em;
    border-color: white;
    border-top: 1px white;
}

.parent {
    position: relative;
    overflow: hidden;
}

.child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}

.half {
    transition: all 0.3s ease-out;
}

.half:hover {
    transform: scale(1.05);
}

.inside {
    width: 90%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

iframe {
    width: 100%;
    height: 235px;
    border: 0;
    display: none;
}

.icons {
    position: absolute;
    right: 0;
    top: 10px;
}

.icon {
    width: 2em;

    margin-right: 1em;

    opacity: 0.4;
}

.icon:hover {
    opacity: 0.8;
}

.about-modal {
    margin-top: -15px;
    display: none;
}